<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Farol360 coding standard">
    <description>Farol360 coding standard</description>

    <arg value="p"/>
    <arg name="colors"/>

    <rule ref="PSR2"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace"/>

    <file>app/src</file>
    <file>app/dependencies.php</file>
    <file>app/middlewares.php</file>
    <file>app/routes.php</file>
    <file>app/settings.php</file>
    <file>public/index.php</file>
    <file>tests</file>
</ruleset>
