{% extends "admin/layout.twig" %}
{% block html_title %}Cursos - Administração - {{ parent() }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}
{% set nav_active = 'courses' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/courses">Cursos</a></li>
  <li class="active">Adicionar</li>
</ol>
{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Adicionar novo curso</h1>
</div>

<form role="form" data-toggle="validator" action="{{ base_url() }}/admin/courses/add" method="POST"  enctype="multipart/form-data">
  <input class="form-control form-group" type="text" name="title" placeholder="Título" required>
  <input class="form-control form-group" type="text" name="price" placeholder="Preço" required>
  <div class="form-group">
    <input type="file" name="image">
  </div>
  <input class="form-control form-group" type="text" name="description" placeholder="Breve descrição" required>
  <textarea class="form-control form-group" rows="5" name="long_description" placeholder="Descrição completa"></textarea>
  <button type="submit" class="btn btn-success">Adicionar</button>
</form>

{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var editor = new SimpleMDE({
  spellChecker: false,
  toolbar: [
    "bold", "italic", "heading", "|",
    "quote", "unordered-list", "ordered-list", "|",
    "link", "image", "table", "|",
    "preview", "|", "guide"
  ],
});
</script>
{% endblock %}
