{% extends "layout.twig" %}
{% set nav_active = 'cuidado_pastoral_outros' %}
{% set header_type = 'index' %}
{% block content -%}
<div id="cuidado_pastoral">

  <div id="banner-cuidado_pastoral">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1 class="" style="font-style:italic;     color: #353535; margin-top: 10px;">/ Outros Contatos</h1>

        </div>
        {% if (tipo != 0) %}
          <div class="col-xs-12 col-sm-6">
            <div id="igreja-inner-menu">
              <!-- Static navbar -->
              <nav class="navbar ">
                <div id="cuidado_pastoral_menu" >
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>


                  </div>

                  <div id="navbar-cuidado_pastoral" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right text-uppercase">
                      <li><a href="#"><h3>Outros Contatos</h3></a></li>

                    </ul>

                  </div><!--/.nav-collapse -->


                </div>
              </nav>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="cuidado_pastoral-content" style="margin-top:5px; ">
    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ol class="breadcrumb" style="background-color: rgba(245, 245, 245, 0.58); margin-top: 2px;">
              <li><a href="{{ base_url() }}">Início</a></li>
              <li><a href="{{ base_url() }}/cuidado_pastoral">Cuidado Pastoral</a></li>
              <li class="active">Outros Contatos</li>
            </ol>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <div class="page-header" style="margin-top:10px; margin-bottom:5px;">
          <h2 class="text-center" style="margin-top:10px;  margin-bottom:5px;">Entre em Contato!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <p style="text-align:justify;" class="h3">Utilize esse espaço para tirar suas dúvidas, fazer sugestões, reclamações e ainda, compartilhar seu ponto de vista conosco (seja ele qual for).</p>
          <hr>
        </div>
        <div id="contato-container" class="col-xs-12 col-sm-7">
          <form action="{{ base_url() }}/cuidado_pastoral/outros" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="nome" class="form-control" name="nome" id="nome" placeholder="Digite seu nome">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="email">Email (opcional)</label>
                      <input type="email" name="email" class="form-control" id="email" placeholder="Digite seu email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="telefone">Telefone (opcional)</label>
                      <input type="telefone" class="form-control" name="telefone" id="telefone" placeholder="Digite seu telefone">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="corpo-email">Deixe sua mensagem</label>
                <textarea id="corpo-email" name="corpo-email" class="form-control" rows="5"></textarea>
              </div>
              <button type="submit" class="btn btn-default" style="margin-bottom:10px;">Enviar</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>

</div>
{%- endblock %}
{% block javascripts %} {{ parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
