{% extends "layout.twig" %}
{% set nav_active = 'igreja' %}
{% set header_type = 'index' %}
{% block content -%}
<div id="content-igreja">

  <div id="banner-igreja">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1 class="" style="    color: #353535; margin-top: 10px;">/ História</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a href="{{ base_url() }}">Início</a></li>
          <li class="active">História</li>
        </ol>
      </div>
    </div>
  </div>

  <div id="igreja-content">
    <div class="container">
      <div class="row">

        <div class="col-xs-12" style="font-size:medium;">
          <br>
          <p class="text-justify">O Trabalho Presbiteriano na Cidade de Toledo iniciou no ano de 1985 quando o Rev. Nicodemos Emerick que pastoreava na cidade de Cascavel, juntamente com o Rev. Édson Correia dos Santos, pastor na cidade de Guaíra, visitaram algumas famílias presbiterianas que residiam na cidade para prestar-lhes auxílio.

          </p>
          <p class="text-justify">
          Após as visitas, foi enviada uma Comissão Missionária formada pelas irmãs: Maria Magali Emerick, Maria Helena Salvatti Pinto e Maria Bavaresco, com objetivo de desenvolver ações missionárias e acompanhar os trabalhos locais. O trabalho das irmãs prosseguiu até o início das visitas do Pastor José Carlos Pezzini juntamente com o evangelista Robson Freire Vilela – missionários ligados a Justa de Missões Nacionais (JMN) da IPB de Assis Chateubriand, que começaram a realizar os cultos aos domingos nos lares.

          </p>
          <p class="text-justify">Ao final do ano de 1988 o Presbitério de Itaipu (PRPU) acreditando no trabalho nesta cidade sentiu a necessidade de um obreiro no campo, e no dia 05/08/1989, na IV Reunião do PRPU em convênio com a JMN enviou para a cidade de Toledo, o Reverendo Nicodemos Emerick na intenção de dar continuidade ao trabalho Presbiteriano.
          </p>
          <p class="text-justify">

            A primeira reunião ocorreu no dia 12 de fevereiro de 1989 na casa Pastoral contando com a presença de 09 pessoas. O trabalho Presbiteriano foi crescendo e logo os cultos começaram a ser realizados nos lares dos irmãos da Igreja que estava nascendo.  A primeira Escola Bíblica Dominical foi realizada no dia 16 de abril contando com a presença de 15 alunos, sendo 09 adultos e 06 crianças.

          </p>

          <p class="text-justify">
            As famílias Pioneiras do Trabalho Presbiteriano em Toledo foram os irmãos: José Antônio Soares,  Iracema Gomes dos Santos, Jocelina de Oliveira Charles, Luzia Alves da Silva, Anita Shrodes, Ledemar de Souza Pinto, José Renato Branco, Soraia Malachias Pereira Branco.

          </p>

          <p class="text-justify">
            Com o passar do tempo e com a estruturação do trabalho Presbiteriano em Toledo, a participação dos cultos também aumentou, e com isso houve um grande passo na história da Igreja que foi a compra de um terreno para a construção do Templo, bem como a casa pastoral.

          </p>

          <p class="text-justify">
            No dia 06 de outubro de 1996, o PRPU, decidiu designar uma comissão para a Organização da Igreja Presbiteriana de Toledo, e no mês seguinte, no dia 23 de novembro de 1996, na Igreja Presbiteriana do Alto Alegre, formou-se a comissão responsável, que foi composta pelos: Revs. Samuel La banca, Nicodemos Emerick, Maurício Ferreira do Nascimento e Pbs. Odair Gomes de Souza, Euríco Baptista de Carvalho Junior.

          </p>

          <p class="text-justify">
            A comissão designada escolheu o dia 24 de Novembro para a data da Organização da Igreja Presbiteriana de Toledo, na ocasião, celebrada com um Culto Vespertino. Arrolaram-se nesta data 54 membros adultos e 32 membros entre crianças e adolescentes. Os primeiros Presbíteros eleitos foram os irmãos José Antônio Soares, José Eduardo Sobrinho e Laudemir Soares dos Santos. Para Diáconos foram eleitos os irmãos Sérgio de Souza Freire, Hilton de Oliveira Veiga e José Salvador.

          </p>

          <p class="text-justify">
            Estava assim organizada oficialmente a Igreja Presbiteriana de Toledo, onde após foi realizado um culto de gratidão a Deus pela maravilhosa obra de implantação de mais uma Igreja Presbiteriana do Brasil. Além dos já membros da mais nova igreja, estava presente no culto o Presidente do Presbitério de Itaipu (PRPU) na época, o Pb. Sérgio Sobjak.

          </p>


          <p class="text-justify">
            Assim, em uma linha cronológica, o trabalho se deu da seguinte forma:
          </p>

          <ul>
            <li>
              1988 – 1998: A igreja ficou na responsabilidade do Rev. Nicodemos Emerick. Sua esposa, Magali, seus filhos, Silviane Samuel e Simei.


            </li>
            <li>
              1999 – 2000: A igreja ficou na responsabilidade do Rev. Cornélio Póvoa de Oliveira. Sua esposa, Silvana, seus filhos, Danilo e Tiago.
            </li>
            <li>
              2001 – 2009: A igreja ficou na responsabilidade do Rev. Paulo Roberto Rocha. Sua esposa, Nilce, seus filhos, Andressa e André.
            </li>
            <li>
              2010 – 2014: A igreja ficou na responsabilidade do Rev. Jair Vieira. Sua esposa, Claudia, seus filhos, Matheus e Angela.

            </li>
            <li>
              2015 – Até o presente momento: A Igreja está na responsabilidade do Rev. José Ricardo Capelari. Sua esposa, Simone, seus filhos, Davi e Ana Julia.

            </li>
          </ul>

          <p class="text-justify">A Igreja hoje está investindo também na reforma e melhoria dos espaços, com uma visão inovadora de crescimento da obra de Deus em todos os sentidos, e o que era sonho, vem se tornando realidade graças a fidelidade de Deus para com a vida da Igreja, bem como a de cada irmão.
          </p>
          <p class="text-justify">
            Por fim, podemos dizer que o que um dia era sonho tornou-se realidade. Igreja Presbiteriana de Toledo. Com certeza, valeu a pena.  O sonho se tornou realidade com a Graça de Deus, e seu cuidado em cada detalhe. Podemos olhar para o que passou e dizer com júbilo que todos os esforços e sacrifícios foram recompensadores para a glória do Reino de Deus. Pedimos ao Pai que continue abençoando essa trajetória, levantando homens e mulheres para sua obra, fazendo resplandecer assim sobre a cidade de Toledo, o verdadeiro evangelho de Cristo Jesus!

          </p>
        </div>
      </div>
      <hr>

    </div>
  </div>

</div>
{%- endblock %}
{% block javascripts %} {{ parent()}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock %}
